
{% set percent_spending_value = spendingSummaryTitle(node.widgetConfig.totalAggregateColumns['check_amount_sum'] ,node.data[0]['check_amount_sum'] )%}
{% set percent_spending = customWidgetLabel("percent_spending")  %}

{% if customFunctionEvaluate(node.widgetConfig.templateId) == 22 %}
  {% set percent_spending_value = '' %}
  {% set percent_spending = '' %}
{% endif %}

  <div class="contract-details-heading">
  <div class="contract-id">
    <h2 class="contract-title">{{customFunctionEvaluate(node.widgetConfig.templateTitleEval)}}</h2>
    <div class="spending-tx-subtitle"><b>{{node.widgetConfig.templateLabel}}</b>: {{node.data[0]['expenditure_object_expenditure_object_original_expenditure_object_name']|upper|raw}}</div>
  </div>
  <div class="dollar-amounts">
    <div class="ytd-spending-amount">
      {{ customAmount(node.data[0]['check_amount_sum'],2,'$') }}
      <div class="amount-title">{{customWidgetLabel("ytd_spending")|raw}}</div>
    </div>
    <div class="percent-spending-amount">
      {{ percent_spending_value |raw }}
      <div class="amount-title">{{percent_spending|raw}}</div>
    </div>
  </div>
</div>
