{#
/**
* This file is part of the Checkbook NYC financial transparency software.
*
* Copyright (C) 2012, 2013 New York City
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/#}

{{ attach_library('widget_highcharts/grid-view') }}
{{ node.widgetConfig.header |raw }}

{% set data = changesFundBalTop(node) %}

<a class="trends-export" href="/export/trends/download/{{node.nid}}">Export</a>
<table class="fy-ait">
  <tbody>
  <tr>
    <td style="width:300px;padding:0;">&nbsp;</td>
    <td class="bb">Fiscal Year<br>(Amounts in Thousands)</td>
  </tr>
  </tbody>
</table>
<table id="table_{{ node.nid }}" style='display:none' class="trendsShowOnLoad {{node.widgetConfig.html_class}}">
    {{addCaption(node) |raw}}
    <thead>
        <tr class="second-row">
            <th><div><br/></div></th>
            {% for year in data.years %}
              <th><div>&nbsp;</div></th><th class='number'><div>{{ year }}</div></th>
            {% endfor %}
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>

    {{ changesFundBal(data.table_rows, data.years) }}

    </tbody>
</table>
<script type="text/javascript">
    {{ addJs(node)|raw }}
</script>
<div class="footnote">
<p>Source: Annual Comprehensive Financial Reports of the Comptroller</p>
</div>
