{% set smnid = RequestGet('smnid') %}
{% set contactStatus = RequestGet('contstatus') %}
{% set dashboard = RequestGet('dashboard') %}
{% set contactCategory = RequestGet('contcat') %}
{% set mocsContracts = RequestGet('mocs') %}

{% if contactStatus == 'A' %}
{% set contactStatusLabel = "Active"  %}
{% endif %}

{% if contactStatus == 'R' %}
{% set contactStatusLabel = "Registered"  %}
{% endif %}

{% set contactCategoryLabel = 'Expense' %}
{% if contactCategory == 'revenue' %}
  {% set contactCategoryLabel = 'Revenue' %}
{% endif %}
{% if contactCategory == 'all' %}
{% set contactCategoryLabel = '' %}
{% endif %}

{% if dashboard == 'ss' %}
  {% if contactStatus == 'A' %}
        {% set bottomNavigation = "Total Active Sub Vendor Contracts"  %}
    {% else %}
      {% set bottomNavigation = "New Sub Vendor Contracts by Fiscal Year"  %}
  {% endif %}
{% endif %}

{% if (dashboard == 'ms' or dashboard == 'sp') %}
  {% if contactStatus == 'A' %}
    {% set bottomNavigation = "Total Active M/WBE Sub Vendor Contracts"  %}
  {% else %}
    {% set bottomNavigation = "New M/WBE Sub Vendor Contracts by Fiscal Year"  %}
  {% endif %}
{% endif %}

{% set summaryTitles = ActiveRegisteredTitle(dashboard,smnid,mocsContracts) %}

{% if (dashboard == 'ss' or dashboard == 'sp' or dashboard == 'ms') %}

{% set titles = ActiveRegisteredDashboardTitle(dashboard,smnid,bottomNavigation) %}
{{ titles[0] |raw }}
{% else %}
  <h2 class='contract-title js-breadcrumb-title' class='title'>{{ summaryTitles[0] }} {{summaryTitles[1]}} {{contactStatusLabel}} {{contactCategoryLabel}} Contracts Transactions</h2>

{% endif %}
