{% set domain_result = getDomainResults(search_results, params.datasource, params.domain) %}

{% if domain_result.fields is defined and domain_result.fields is not empty %}
  <div class="search-result-fields">
    <div class="grid-row">
      {% for field in domain_result.fields %}
        <div class="grid-col-6">
          {% if field.title %}
            <div class="field-label">
              {% if field.title_link %}
                <a href="{{ field.title_link }}" target="_blank">{{ field.title }}</a>:
              {% else %}
                {{ field.title }}:
              {% endif %}
            </div>

            <div class="field-content">
              {% if field.minority_link %}
                <a href="{{ field.minority_link }}">{{ field.value }}</a>

              {% elseif field.value_link and field.is_new_window %}
                <a class="new_window" href="{{ field.value_link }}">{{ field.value }}</a>

              {% elseif field.value_link %}
                <a href="{{ field.value_link }}">{{ field.value }}</a>

              {% else %}
                {{ field.value }}

              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
