{{ attach_library('widget_highcharts/grid-view') }}


{{ gridPrintExport(node) |raw }}
<div id="gridprint">
  <h3 class="grid_title">{{ spendingTitle()|raw }}</h3>
  <h3 class="grid_chart_title">{{ node.widgetConfig.chartTitle |raw}}</h3>
  {{ pageGridTitle('Spending')|raw }}
  <div>
    <table id="table_{{ node.nid }}" class=" {{node.widgetConfig.gridConfig.html_class}} ">
      <thead>
      <tr>
        <th><div>{{ widget_get_table_header("sub_vendor_name") | raw }}</div></th>
        <th>{{ widget_get_table_header("spending_amount") | raw }} </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {% if node.data %}
        {% for datarow in node.data %}
          <tr>
            <td><div>{{ datarow.sub_vendor_sub_vendor_legal_name | raw }}</div></td>
            <td>{{ datarow.check_amount_sum }}</td>
            <td>&nbsp;</td>
          </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
    {% set wurl = widget_url() %}
    {% set dataTableOptions = '
        {
                        "bFilter":false,
                        "bInfo":false,
                        "bLengthChange":false,
                        "iDisplayLength":10,
                        "aaSorting":[[1,"desc"]],
                        "bPaginate": false,
                        "sAltAjaxSource":"' ~ wurl ~ '",
            			"fnDrawCallback"  :  function( oSettings ) {
            			addPaddingToDataCells(this);
            			},
                        "aoColumnDefs": [
                            {
                                "aTargets": [0],
                                "sClass":"text",
                                "asSorting": [ "asc","desc" ]
                            },
                            {
                                "aTargets": [1],
                                "aExportFn":"function",
                                "mDataProp": function ( source, type, val ) {
                                    if (type == "set") {
                                        source.total_amount = val;
                                        source.total_amount_display = "<div>" + custom_number_format(val) + "</div>";
                                        return;
                                    }else if (type == "display") {
                                        return source.total_amount_display;
                                    }
                                    return source.total_amount;
                                },
                                "sClass":"number",
                                "asSorting": [ "desc","asc" ]
                            },
                            {
                              "aTargets": [2],
                              "sWidth":"15px"
                            }

                        ]
                    }'
    %}
    <script type="text/javascript">
      {{ widget_highcharts_add_datatable_js(dataTableOptions,node) |raw}}
    </script>
  </div>
</div>

