{{ attach_library('widget_highcharts/grid-view') }}
{{ attach_library('widget_highcharts/printjs') }}

{{ gridPrintExport(node) |raw }}
<div id="gridprint">
  <h3 class="grid_title">{{revenueNychaGridTitle()|raw }}</h3>
  <h3 class="grid_chart_title">{{ node.widgetConfig.chartTitle |raw}}</h3>
  {{ pageGridTitle('Revenue')|raw }}
<div>
  <table id="table_{{ node.nid }}" class=" {{node.widgetConfig.gridConfig.html_class}} ">
    <thead>
    <tr>
      <th>{{ widget_get_table_header("year") | raw}} </th>
      <th>{{ widget_get_table_header("recognized") | raw}} </th>
      <th>{{ widget_get_table_header("remaining") | raw}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% if node.data %}
      {% for datarow in node.data %}
        <tr>
          <td>{{ datarow.year_year }}</td>
          <td>{{ datarow.revenue_recognized_amount }}</td>
          <td>{{ datarow.revenue_funds_available }}</td>
          <td></td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  {% set wurl = widget_url() %}
  {% set dataTableOptions = '
{
                        "bFilter":false,
                        "bInfo":false,
                        "bLengthChange":false,
                        "iDisplayLength":1,
                        "aaSorting":[[0,"asc"]],
                        "bPaginate": false,
                        "sAltAjaxSource":"' ~ wurl ~ '",
            			"fnDrawCallback"  :  function( oSettings ) {
            			addPaddingToDataCells(this);
            			},
                        "aoColumnDefs": [
                            {
                                "aTargets": [0],
                                "mDataProp": function ( source, type, val ) {
                                    if (type == "set") {
                                        source.year_year_year_value = val;
                                        source.year_year_year_value_display = "<div>" + val + "</div>" ;
                                        return;
                                    }else if (type == "display") {
                                        return source.year_year_year_value_display;
                                    }else if (type == "sort") {
                                        return source.year_year_year_value;
                                    }
                                    return source.year_year_year_value;
                                },
                                "asSorting": [ "asc","desc" ],
                                "sWidth":"15px",
                                "sClass":"number"
                            },
                            {
                                "aTargets": [1],
                                "aExportFn":"function",
                                "mDataProp": function ( source, type, val ) {
                                    if (type == "set") {
                                        source.revenue_amount_sum = val;
                                        source.revenue_amount_sum_display = "<div>" + custom_number_format(val) + "</div>" ;
                                        return;
                                    }else if (type == "display") {
                                        return source.revenue_amount_sum_display;
                                    }else if (type == "sort") {
                                        return source.revenue_amount_sum;
                                    }
                                    return source.revenue_amount_sum;
                                },
                                "asSorting": [ "desc","asc" ],
                                "sClass":"number"
                            },
                            {
                                "aTargets": [2],
                                "aExportFn":"function",
                                "mDataProp": function ( source, type, val ) {
                                    if (type == "set") {
                                        source.remaining = val;
                                        source.remaining_display = "<div>" + custom_number_format(val) + "</div>" ;
                                        return;
                                    }else if (type == "display") {
                                        return source.remaining_display;
                                    }else if (type == "sort") {
                                        return source.remaining;
                                    }
                                    return source.remaining;
                                },
                                "asSorting": [ "desc","asc" ],
                                "sClass":"number"
                            },
                            {
                              "aTargets": [3],
                              "sWidth":"15px"
                            }

                        ]
                    }'
  %}
  <script type="text/javascript">
    {{ widget_highcharts_add_datatable_js(dataTableOptions,node) |raw}}
  </script>
</div>
</div>
