{{ attach_library('widget_config/checkbook_project.contracts') }}

{# ticket NYCCHKBK-12848 adding cache max-age to 0, the title was getting cached and not changing based on contract #}
{{ {'#cache': {'max-age': 0}} }}

<div class="contract-details-heading {{ oge_class }}">
  <div class="contract-id">
    <h2 class='contract-title'>Contract ID: <span class="contract-number">{{ node.data[0]['contract_number'] }}</span></h2>
    {{ contracts_details_mma_master_agreement(node) | raw }}
  </div>
  <div class="dollar-amounts">
    {% if not pregMatch('/RCT1/', node.data[0]['contract_number']) %}
      <div class="spent-to-date">
        <a {{ newwindowclass | raw }} href="{{ spending_link }}">
          {{ customAmount(node.spent_amount ,2,'$') }}
        </a>
        <div class="amount-title">Spent to<br/>Date</div>
      </div>
    {% endif %}
    <div class="original-amount">
      {{ customAmount(node.original_contract_amount ,2,'$') }}
      <div class="amount-title">Original Amount</div>
    </div>
    <div class="current-amount">
      {{ customAmount(node.maximum_spending_limit ,2,'$') }}
      <div class="amount-title">Current Amount</div>
    </div>
    <div class="total-contracts">
      {{ node.total_child_contracts }}
      <div class="amount-title">Assoc. Contracts</div>
    </div>
  </div>
  <div class="contract-information {{ oge_class }}">
    <div class="contract-details">
      <h4>General Information</h4>
      <ul class="left">
        {% if datasource is null %}
          <li><span class="gi-list-item">Prime Vendor:</span> <a href="{{ vendor_link }}">{{ node.data[0]['legal_name_checkbook_vendor'] }}</a></li>
        {% else %}
          <li><span class="gi-list-item">Prime Vendor:</span> {{ node.data[0]['legal_name_checkbook_vendor'] }}</li>
        {% endif %}
        <li><span class="gi-list-item">Purpose:</span> {{ node.data[0]['description'] }}</li>
        <li><span class="gi-list-item">Contract Type:</span> {{ node.data[0]['agreement_type_name'] }}</li>
        {% if datasource is null %}
          <li><span class="gi-list-item">Contracting Agency:</span> <a href="{{ agency_link }}">{{ node.data[0]['agency_name_checkbook_agency'] }}</a></li>
        {% else %}
          <li><span class="gi-list-item">Contracting Agency:</span></li> {{ node.data[0]['agency_name_checkbook_agency'] }}
        {% endif %}
        <li><span class="gi-list-item">Award Method:</span> {{ node.data[0]['award_method_name_checkbook_award_method'] }}</li>
        {% if RequestGet("datasource") != "checkbook_oge" %}
          <li><span class="gi-list-item">Version Number:</span> {{ node.data[0]['document_version'] }}</li>
        {% endif %}
        <li><span class="gi-list-item">FMS Document:</span> {{ node.data[0]['document_code_checkbook_ref_document_code'] }}</li>
        {% if RequestGet("datasource") != "checkbook_oge" %}
          <li>
            <span class="gi-list-item">Total Number of Sub Vendors:</span>
            {% if total_subvendor_count > 0 %}
              {{ total_subvendor_count }}
            {% else %}
              N/A
            {% endif %}
          </li>
        {% endif %}
      </ul>
      <ul class="right">
        <li><span class="gi-list-item">Number of Solicitations per Contract:</span> {{ node.data[0]['number_solicitation'] }}</li>
        <li><span class="gi-list-item">Number of Responses per Solicitation:</span> {{ node.data[0]['number_responses'] }}</li>
        <li>
          <span class="gi-list-item">Start Date:</span>
          {{ customStringToDate(node.data[0]['date_chckbk_dat_id_effctv_bgn_date_id_chckbk_hstr_mstr_agrmnt_0']) }}
        </li>
        <li>
          <span class="gi-list-item">End Date:</span>
          {{ customStringToDate(node.data[0]['date_chckbk_date_id_effctv_end_dat_id_chckbk_hstr_mstr_agrmnt_1']) }}
        </li>
        {% if RequestGet("datasource") != "checkbook_oge" %}
          <li>
            <span class="gi-list-item">Registration Date:</span>
            {{ customStringToDate(node.data[0]['date_chckbk_date_id_rgstrd_date_id_chckbk_histr_master_agrmnt_2']) }}
          </li>
        {% endif %}
        <li><span class="gi-list-item">APT PIN:</span> {{ node.data[0]['board_approved_award_no'] }}</li>
        <li><span class="gi-list-item">PIN:</span> {{ node.data[0]['tracking_number'] }}</li>
      </ul>
    </div>
    <div class="contract-vendor-details">
      {{ getWidgetNodeView(425) }}
    </div>
  </div>
</div>


