{#
/**
* This file is part of the Checkbook NYC financial transparency software.
*
* Copyright (C) 2012, 2013 New York City
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/#}

{{ attach_library('widget_highcharts/grid-view') }}
{{ node.widgetConfig.header |raw }}

{% set data = assesedValTaxRateClassTop(node) %}

<a class="trends-export" href="/export/trends/download/{{node.nid}}">Export</a>

<table id="table_{{ node.nid }}" style='display:none' class="trendsShowOnLoad {{node.widgetConfig.html_class}}">
    {{addCaption(node) |raw}}
    <thead>
        <tr>
            <th class="centrig"><div>&nbsp;</div></th>
            {% for year in data.years %}
              {% if year == 2014 %}
                <th rowspan='2'><div></div></th><th colspan="5" class="centrig bb"><div>Fiscal Year {{ year }} <sup>(3)</sup></div></th>
              {% else %}
                <th rowspan='2'><div></div></th><th colspan="5" class="centrig bb"><div>Fiscal Year {{ year }}</div></th>
              {% endif %}
            {% endfor %}
            <th rowspan="2" >&nbsp;</th>
        </tr>
        <tr>
          <th class="text"><div>Type of Property</div></th>
            {% for year in data.years %}
                <th class="number"><div class="trendCen thAssess" >Assessed<br/>Value<br/>(in millions)</div></th>
                <th><div>&nbsp;</div></th><th class="number "><div class="trendCen thPercent" >Percentage<br>of Taxable<br>Real Estate</div></th>
                <th><div>&nbsp;</div></th><th class="number "><div class="trendCen thDirect" >Direct<br>Tax<br>Rate <sup>(2)</sup></div></th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>

    {{ assesedValTaxRateClass(data.table_rows, data.years) }}

    </tbody>
</table>

<script type="text/javascript">
    {{ addJs(node)|raw }}
</script>

   {% if node.widgetConfig.table_footnote %}
	 {{ node.widgetConfig.table_footnote }}
   {% endif %}

<div class="footnote">
    <p>(1) Represents the weighted average of the four classes of real property.</p>
    <p>(2) Property tax rate based on every $100 assessed valuation.</p>
    <p>(3) In fiscal year 2014 The Annual Report, the New York City Property Tax Fiscal Year 2014, reported various classifications of
    condos as class four real property for the first time.</p>
    <p>Note: Property in New York City is reassessed once a year. The City assesses property at approximately 40
percent of Market Value for commercial and industrial property and 20 percent of Market Value for residential property.</p>
<p>Sources: Resolutions of the City Council and The Annual Report, The New York City Property Tax Fiscal Year {{ data.years[0] }}. </p>
</div>

