{#
/**
* This file is part of the Checkbook NYC financial transparency software.
*
* Copyright (C) 2012, 2013 New York City
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
*/#}

{{ attach_library('widget_highcharts/grid-view') }}
{{ node.widgetConfig.header |raw }}

{% set last_data = node.data|last %}
{% set last_year = last_data.fiscal_year %}

<a class="trends-export" href="/export/trends/download/{{node.nid}}">Export</a>

<table id="table_{{ node.nid }}" style='display:none' class="trendsShowOnLoad {{node.widgetConfig.html_class}}">
    {{addCaption(node) |raw}}
    <thead>
    <tr class="first-row">
        <th rowspan="2" class="number"><div class="trendCen" >Fiscal<br>year</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Tax Levy<br>(in millions)<sup>(2)</sup></div></th>
        <th colspan="3" class="centrig bb"><div>Percent of Levy through June 30, {{ last_year }}</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Uncollected<br>Balance<br/> June 30, {{ last_year }}</div></th>
    </tr>
    <tr class="second-row">
        <th class="number"><div class="trendCen" >Collections</div></th>
        <th class="number"><div class="trendCen" >Cancellations</div></th>
        <th class="number"><div class="trendCen" >Abatements<br>and Discounts<sup>(1)</sup></div></th>
    </tr>
    </thead>

    <tbody>

    {{ collectionsCancellationsAbatements(node) }}

    </tbody>
</table>
<script type="text/javascript">
    {{ addJs(node)|raw }}
</script>
<div class="footnote">
<p>(1) Abatements and Discounts include SCRIE Abatements (Senior citizen rent increase exemption), J-51 Abatements,
    Section 626 Abatements and other minor discounts offered by the City to property owners.</p>
<p>(2) The Tax Levy amounts are the amount from the City Council Resolution.</p>
<p>Notes: Total uncollected balance at June 30, {{ last_year }} less allowance for uncollectible amounts equals net realizable amount
    (real estate taxes receivable).</p>
<p>Levy may total over 100 percent due to imposed charges that include ICIP deferred charges (Industrial and Commercial
    Incentive Program), rebilling charges and other additional charges imposed by The Department of Finance(DOF). This
    information is included in the FAIRTAX LEVY report.</p>
</div>
