{{ attach_library('widget_highcharts/grid-view') }}
{{ node.widgetConfig.header |raw }}
<a class="trends-export" href="/export/trends/download/{{ node.nid }}">Export</a>
<h5>New York City Transitional Finance Authority<br/>(AMOUNTS IN THOUSANDS)</h5>
<table id="table_{{ node.nid }}" style='display:none' class="trendsShowOnLoad {{node.widgetConfig.html_class}}">
  {{ addCaption(node) |raw}}
  <thead>
  <tr>
    <th rowspan="2" class="number rowspan2Top"><div class="trendCen">Fiscal<br>Year</div></th>
    <th rowspan="2" class="number"><div class="trendCen">PIT<br>Revenue<sup>(1)</sup></div></th>
    <th rowspan="2" class="number"><div class="trendCen">Sales Tax<br>Revenue<sup>(2)</sup></div></th>
    <th rowspan="2" class="number"><div class="trendCen">Total<br>Receipt</div></th>
    <th rowspan="2" class="number"><div class="trendCen">Other<sup>(3)</sup></div></th>
    <th rowspan="2" class="number"><div class="trendCen">Investment<br>Earnings<sup>(4)</sup></div></th>
    <th rowspan="2" class="number"><div class="trendCen">Total<br>Revenue</div></th>
    <th colspan="3" class="centrig"><div class="trendCen">Future Tax Secured<br>Bonds Debt Service</div></th>
    <th rowspan="2" class="number"><div class="trendCen">Operating<br>Expenses</div></th>
    <th rowspan="2" class="number"><div class="trendCen">Total to be<br>Covered</div></th>
    <th rowspan="2">&nbsp;</th>
  </tr>
  <tr>
    <th class="number"><div class="trendCen">Interest</div></th>
    <th class="number"><div class="trendCen">Principal</div></th>
    <th class="number"><div class="trendCen">Total</div></th>
  </tr>
  </thead>
   {{ pledgeRevConNyc(node) }}
  <tbody>
  </tbody>
</table>
<div class="footnote">
  <p>(1) Personal income tax (PIT).</p>
  <p>(2) Sales tax revenue has not been required by the TFA. This amount is available to cover debt service if required.</p>
  <p>(3) Grant from City and Federal Subsidy.</p>
  <p>(4) Net of fair market value adjustment.</p>
</div>

<script type="text/javascript">
  {{ addJs(node)|raw }}
</script>

