{{ attach_library('widget_config/grid-view-with-input') }}
{{ attach_library('widget_config/checkbook_project.contracts') }}

<h3>Associated Contracts</h3>
<table id="assoc_contracts_list">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% set count = 0 %}
    {% if pregMatch("/newwindow/", render_var(url('<current>'))) %}
      {% set new_window = "/newwindow" %}
    {% else %}
      {% set new_window = "" %}
    {% endif %}

    {# loop over node.data and create row for each contract BEGIN #}
    {% for contract in node.data %}
      {% set contract_number = contract['contract_number'] %}

      {% if count % 2 == 0 %}
        {% set class = "odd" %}
      {% else %}
        {% set class = "even" %}
      {% endif %}

      {% set first = '' %}
      {% if count == 0 %}
        {% set first = "first-item clickOnLoad" %}
      {% endif %}

      {% if pregMatch("/newwindow/", render_var(url('<current>'))) %}
        {% set child_contract_link = contract['contract_number'] %}
      {% else %}
        {% set child_contract_link = "<a
          href='/contract_details/agid/" ~ contract["original_agreement_id"] ~ "/doctype/"
          ~ contract["document_code@checkbook:ref_document_code"] ~ "'
          class='bottomContainerReload'>" ~ contract['contract_number'] ~ "</a>" %}
      {% endif %}

      <tr>
        <td class="assoc_item">
          <div class="contract-title clearfix">
            <span agurl="/widget/mini_panel_contracts_cta_history/agid/{{ contract['original_agreement_id'] }}{{ new_window }}"
                  class="toggler collapsed {{ first }} {{ class }}"
                  id="master_assoc_cta_expand{{ count }}">
            </span>
            <div class='contract-title-text'>Contract Spending for {{ child_contract_link | raw }}</div>
            <div class="dollar-amounts">
              <div class="spent-to-date">{{ customAmount(contract['rfed_amount'] ,2,'$') }}
                <div class="amount-title">Spent to Date</div>
              </div>
              <div class="original-amount">{{ customAmount(contract['original_contract_amount'] ,2,'$') }}
                <div class="amount-title">Original Amount</div>
              </div>
              <div class="current-amount">{{ customAmount(contract['maximum_contract_amount'] ,2,'$') }}
                <div class="amount-title">Current Amount</div>
              </div>
            </div>
          </div>
          <div class="resultsContainer{{ count }}">&nbsp;</div>
        </td>
      </tr>
      {% set count = count + 1 %}
      {% if count > 1 %}
        {% set clickClass = "" %}
      {% endif %}
    {% endfor %}
    {# loop over node.data and create row for each contract ENDS #}
  </tbody>
</table>
{% set theme_path = customFunctionEvaluate("return \Drupal::service('extension.list.theme')->getPath(\Drupal::theme()->getActiveTheme()->getName());") %}

<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      oTable = $('#assoc_contracts_list').dataTable(
        {
          "paging": true,
          "retrieve": true,
          "searching": false,
          "pageLength": 10,
          "pagingType": "input",
          "language": {
            "paginate": {
              "first":    "<img src='/{{ theme_path }}/images/first_blue.png'>",
              "last":     "<img src='/{{ theme_path }}/images/last_blue.png'>",
              "next":     "<img src='/{{ theme_path }}/images/next_blue.png'>",
              "previous": "<img src='/{{ theme_path }}/images/previous_blue.png'>"
            },
          },
          "lengthChange": false,
          "dom": '<r><t><ip>',
          "ordering": false,
          "stripeClasses": []
        }
      );
    });
  }(jQuery));

</script>

