{#
/**
* This file is part of the Checkbook NYC financial transparency software.
*
* Copyright (C) 2012, 2013 New York City
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/#}

{{ attach_library('widget_highcharts/grid-view') }}
{{ node.widgetConfig.header |raw }}

<a class="trends-export" href="/export/trends/download/{{node.nid}}">Export</a>
<h5>(AMOUNTS IN THOUSANDS)</h5>
<table id="table_{{ node.nid }}" style='display:none' class="trendsShowOnLoad {{node.widgetConfig.html_class}}">
    {{addCaption(node) |raw}}
    <thead>
    <tr>
        <th rowspan="2" class="number rowspan2Top"><div class="trendCen" >Fiscal<br>Year</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >DIB<br>Revenue<sup>(1)</sup></div></th>
        <th rowspan="2" class="number"><div class="trendCen" >TEP<br>Revenue<sup>(2)</sup></div></th>
        <th rowspan="2" class="number"><div class="trendCen" >ISP<br>Revenue<sup>(3)</sup></div></th>
        <th rowspan="2" class="number"><div class="trendCen" >PILOMRT<sup>(4)</sup></div></th>
        <th rowspan="2" class="number"><div class="trendCen" >PILOT<sup>(5)</sup></div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Other</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Investment<br>Earnings</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Total<br>Revenue</div></th>
        <th colspan="3" class="centrig bb"><div>Debt Service</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Operating<br>Expenses</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Total to be<br>Covered</div></th>
        <th rowspan="2" class="number"><div class="trendCen" >Coverage on<br>Total Revenue<sup>(6)</sup><sup>(7)</sup></div></th>
        <th rowspan="2" >&nbsp;</th>
    </tr>
	  <tr>
        <th class="number"><div class="trendCen" >Interest</div></th>
        <th class="number"><div class="trendCen" >Principal</div></th>
        <th class="number"><div class="trendCen" >Total</div></th>
    </tr>
    </thead>
    <tbody>
    {{ hudsonYardsInfraCorp(node) }}
    </tbody>
</table>
<div class="footnote">
    <p>HYIC issued its first bonds on December 21, 2006.</p>
    <br />
    <p>(1) District Improvement Bonuses (DIB)</p>
    <p>(2) Property Tax Equivalency Payments (TEP)</p>
    <p>(3) Interest Support Payments (ISP)</p>
    <p>(4) Payments in Lieu of the Mortgage Recording Tax (PILOMRT)</p>
    <p>(5) Payments in Lieu of Real Estate Taxes (PILOT)</p>
    <p>(6) ISPs are to be made by the City under the terms of Support and Development Agreement, which obligates the City to pay HYIC, subject to annual appropriation, an ISP amount equal to the
        difference between the amount of funds available to HYIC to pay interest on its current outstanding bonds and the amount of interest due on such bonds.</p>
    <p>(7) Debt service payments are funded from excess prior years' revenues and from current year revenues.</p>
    <p>(8) In December 2011, HYIC was obligated to make an arbitrage rebate payment to United States Treasury for $8.8M. In February 2019, the $8.8M payment was refunded back to HYIC. </p>
    <br />
    <p>Source: Hudson Yards Infrastructure Corporation</p>
</div>
<script type="text/javascript">
    {{ addJs(node)|raw }}
</script>
