{{ attach_library('widget_highcharts/grid-view') }}

{{ gridPrintExport(node) |raw }}
<div id="gridprint">
  <h3 class="grid_title">{{ contractTitle()|raw }}</h3>
  <h3 class="grid_chart_title">{{ node.widgetConfig.chartTitle |raw}}</h3>
  {{ pageGridTitle('Contracts')|raw }}
  <div>

    <table id="table_{{ node.nid }}" class=" {{node.widgetConfig.gridConfig.html_class}} ">
      <thead>
      <tr>
        {%  if (node.nid == 457 or  node.nid == 458) %}
        {% set headername = 'contract_agency' %}
        {% else %}
        {% set headername = 'prime_vendor'  %}
        {% endif %}
        <th>{{ widget_get_table_header(headername) | raw}} </th>
        <th>{{ widget_get_table_header("no_of_contracts") | raw}}</th>
        <th>{{ widget_get_table_header("current_amount") | raw}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% if node.data %}
      {%  if (node.nid == 457 or  node.nid == 458) %}
        {% set rowname = 'document_agency_name_document_agency_name' %}
      {% else %}
        {% set rowname = 'vendor_legal_name_vendor_legal_name'  %}
        {% endif %}
      {%  if (node.nid == 458 or  node.nid == 459) %}
        {% set total = 'total_revenue_pending_contracts' %}
      {% else %}
        {% set total = 'total_contracts'  %}
      {% endif %}
        {% for datarow in node.data %}
          <tr>
            <td><div>{{ datarow[rowname]}}</div></td>
            <td>{{ datarow[total]}}</td>
            <td>{{ datarow.total_contract_amount }}</td>
            <td></td>
          </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
    {% set wurl = widget_url() %}
    {% set dataTableOptions = '

                    {
                        "bFilter":false,
                        "bInfo":false,
                        "bLengthChange":false,
                        "iDisplayLength":10,
                        "aaSorting":[[2,"desc"]],
                        "bPaginate": false,
                        "sAltAjaxSource":"' ~ wurl ~ '",
            			"fnDrawCallback"  :  function( oSettings ) {
            			addPaddingToDataCells(this);
            			},
                        "aoColumnDefs": [
                            {
                                "aTargets": [0],
                                "sClass":"text",
                                "sWidth":"350px",
                                "asSorting": [ "asc","desc" ]
                            },
                            {
                                "aTargets": [1],
                                "aExportFn":"function",
                                "mDataProp": function ( source, type, val ) {
                                    if (type == "set") {
                                        source.total_contracts = val;
                                        if(val === "0"){
                                           source.total_contracts_display =  "<div> </div>";
                                        }else{
                                            source.total_contracts_display =  "<div>" + addCommas(val) + "</div>";
                                        }
                                        return;
                                    }else if (type == "display") {
                                        return source.total_contracts_display;
                                    }
                                    return source.total_contracts;
                                },
                                "sClass":"number",
                                "asSorting": [ "desc", "asc" ]
                            },
                            {
                                "aTargets": [2],
                                "aExportFn":"function",
                                "mDataProp": function ( source, type, val ) {
                                    if (type == "set") {
                                        source.budget_ytd = val;
                                        source.budget_ytd_display =  "<div>" + custom_number_format(val) + "</div>";
                                        return;
                                    }else if (type == "display") {
                                        return source.budget_ytd_display;
                                    }
                                    return source.budget_ytd;
                                },
                                "sClass":"number",
                                "asSorting": [ "desc", "asc" ]
                            },
                            {
                              "aTargets": [3],
                              "sWidth":"50px"
                            }

                        ]
                    }
    '
    %}
    <script type="text/javascript">
      {{ widget_highcharts_add_datatable_js(dataTableOptions,node) |raw}}
    </script>
  </div>
</div>
</div>
