
{% set title = node.widgetConfig.templateTitleEval %}
{% set yearLabel = 'FY' %}
{% set year  = getTransactionYearVal(yearLabel) %}
{% set amount = spendingDateAmount(node) %}
{% set month = spendingMonth() %}
{% if amount > 0 %}
<div class="contract-details-heading">
  <div class="contract-id">
    <h2 class="contract-title">{{title}}</h2>
    <div class="spending-tx-subtitle"><b>Year</b>: {{year}}<br><b>Month</b>: {{month.0.month_name | upper}}</div>
  </div>
  <div class="dollar-amounts"><div class="total-spending-amount">{{customAmount(amount,'2','$')}}<div class="amount-title">{{node.widgetConfig.catName}} Amount</div>
    </div></div>
</div>
  {% else %}
    <div class="contract-details-heading">
      <div class="contract-id">
        <h2 class="contract-title">{{title}}</h2>
      </div>
    </div>
{% endif %}

