{{ attach_library('widget_highcharts/grid-view') }}
{{ node.widgetConfig.header |raw }}
<a class="trends-export" href="/export/trends/download/{{ node.nid }}">Export</a>
<h5>(DOLLARS IN MILLIONS EXCEPT PER CAPITA)</h5>
<table id="table_{{ node.nid }}" style='display:none' class="trendsShowOnLoad {{node.widgetConfig.html_class}}">
  {{ addCaption(node) |raw}}
  <thead>
  <tr>
    <th class="number"><div class="trendCen" >Fiscal<br>Year</div></th>
    <th class="number"><div class="trendCen" >General<br>Bonded<br>Debt<sup>(1)</sup></div></th>
    <th class="number"><div class="trendCen" >Debt Secure<br>by Revenue<br>other than<br>property tax <sup>(2) (3)</sup></div></th>
    <th class="number"><div class="trendCen" >City Net<br />General<br />Obligation<br />Bonded Debt</div></th>
    <th class="number"><div class="trendCen" >City Net General<br />Obligation Bonded<br />Debt as a<br />Percentage of<br />Assessed Taxable<br />Value of Property<sup>(4)</sup></div></th>
    <th class="number"><div class="trendCen" >Per Capita <sup>(5)</sup></div></th>
    <th class="number"><div class="trendCen" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></th>
  </tr>
  </thead>

  <tbody>
  {{ ratiosGeneralBond(node)|raw}}
  </tbody>
</table>
<div class='footnote'>
  <p>(1) See Notes to financial Statements (Note D.5), "Changes in Long Term Liabilities"___Bonds and Notes Payable net of premium and discount.</p>
  <p>(2) Includes ECF,FSC,HYIC,IDA,STAR,TFA,NYCTLT, and TSASC.</p>
  <p>(3) See Exhibit "Pledge -Revenue Coverage", Part III __ Statistical Information, ACFR. </p>
  <p>(4)See Exhibit "Assessed Value and Estimated Actual Value of Taxable Property_{}Ten Year Trend", Part III{}_ Statistical Information, ACFR.</p>
  <p>(5) See Exhibit "Population___ Ten Year Trend", Part III___ Statistical Information, ACFR</p>
  <br />
  <p>SOURCES:  Annual Comprehensive Financial Reports of the Comptroller</p>
</div>

<script type="text/javascript">
  {{ addJs(node)|raw }}
</script>
