{{ attach_library('checkbook_mwbe_agency_grading/checkbook_mwbe_agency_grading_jquery') }}
{{ attach_library('checkbook_mwbe_agency_grading/table-view') }}
<div class="checkbook-mwbe-agency-grading">

  <ul class="tabs">
    <li><a href="/mwbe_agency_grading/prime_vendor_data/year/{{ RequestGet('year')}}/yeartype/{{ RequestGet('yeartype') }}" rel="#tabcontent1" {{ isMwbeAgencyGrading('prime_vendor_data') ? 'class="active"' : ''}}>Prime Vendor Data</a></li>
    <li><a href="/mwbe_agency_grading/sub_vendor_data/year/{{ RequestGet('year')}}/yeartype/{{ RequestGet('yeartype') }}" rel="#tabcontent2" {{ isMwbeAgencyGrading('sub_vendor_data') ? 'class="active"' : ''}}>Sub Vendor Data</a></li>
  </ul>

  {#<div class="tab_content_container">
    <div class="tab_content tab_content_active" id="tabcontent1"></div>
    <div class="tab_content" id="tabcontent2"></div>
  </div>#}

  <div class="panel-display omega-grid omega-12-twocol-9-3" >
    <div class="panel-panel grid-9" >
      <div class="inside">
        <div class="download_link" ><span class="summary_export">Export</span></div>
        <div class="checkbook-grading-left">
          <div class="empty_div11">&nbsp;</div>
          <table id="grading_table"  >
            <thead class="hidden_body" style="display:none" >
              <tr id="scroll_wrapper_head">
                <th><div><span>Agency</span></div></th>
                <th><div><span>Spending Chart</span></div></th>
                <th><div><span>YTD&nbsp;Spending</span></div></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="hidden_body" style="display:none" >
              {{ leftContent(left_content,params.data_type) |raw }}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel-panel grid-3" >
      <div class="inside">
        <div class="checkbook-grading-right">
          <div class="legend">
            <div class="title">M/WBE Category Spending</div>
            <form action="" name="mglegend">
              <div class="checkbox-grading-legend">
                <table>
                  <tbody><tr class="legend_entry">
                    <td><input id="chk_aa_mwbe" type="checkbox"  {{ rightContent('aa_mwbe') }}
                      value="aa_mwbe" name="mwbe_right_filter"><label for="chk_aa_mwbe"></label></td>
                    <td class="color"><img src="/modules/custom/checkbook_mwbe_agency_grading/images/legend-color-0.png"></td>
                    <td class="desc"><span name="legend_description">Asian American</span></td>
                  </tr>
                  <tr class="legend_entry">
                    <td><input id="chk_ba_mwbe" type="checkbox" {{ rightContent('ba_mwbe') }}
                      value="ba_mwbe" name="mwbe_right_filter"><label for="chk_ba_mwbe"></label></td>
                    <td class="color"><img src="/modules/custom/checkbook_mwbe_agency_grading/images/legend-color-1.png"></td>
                    <td class="desc"><span name="legend_description">Black American</span></td>
                  </tr>
                  <tr class="legend_entry">
                    <td><input id="chk_ha_mwbe" type="checkbox" {{ rightContent('ha_mwbe') }}
                      value="ha_mwbe" name="mwbe_right_filter"><label for="chk_ha_mwbe"></label></td>
                    <td class="color"><img src="/modules/custom/checkbook_mwbe_agency_grading/images/legend-color-2.png"></td>
                    <td class="desc"><span name="legend_description">Hispanic American</span></td>
                  </tr>
                  <tr class="legend_entry">
                    <td><input id="chk_w_mwbe" type="checkbox" {{ rightContent('w_mwbe') }}
                      value="w_mwbe" name="mwbe_right_filter"><label for="chk_w_mwbe"></label></td>
                    <td class="color"><img src="/modules/custom/checkbook_mwbe_agency_grading/images/legend-color-3.png"></td>
                    <td class="desc"><span name="legend_description">Women (Non-Minority)</span></td>
                  </tr>
                  <tr class="legend_entry">
                    <td><input id="chk_na_mwbe" type="checkbox" {{ rightContent('na_mwbe') }}
                      value="na_mwbe" name="mwbe_right_filter"><label for="chk_na_mwbe"></label></td>
                    <td class="color"><img src="/modules/custom/checkbook_mwbe_agency_grading/images/legend-color-6.png"></td>
                    <td class="desc"><span name="legend_description">Native American</span></td>
                  </tr>
                  <tr class="legend_entry">
                    <td><input id="chk_em_mwbe" type="checkbox" {{ rightContent('em_mwbe') }}
                      value="em_mwbe" name="mwbe_right_filter"><label for="chk_em_mwbe"></label></td>
                    <td class="color"><img src="/modules/custom/checkbook_mwbe_agency_grading/images/legend-color-7.png"></td>
                    <td class="desc"><span name="legend_description">Emerging (Non-Minority)</span></td>
                  </tr>
                  <tr class="legend_entry">
                    <td><input id="chk_n_mwbe" type="checkbox" {{ rightContent('n_mwbe') }}
                      value="n_mwbe" name="mwbe_right_filter"><label for="chk_n_mwbe"></label></td>
                    <td class="color"><img src="/modules/custom/checkbook_mwbe_agency_grading/images/legend-color-4.png"></td>
                    <td class="desc"><span name="legend_description">Non-M/WBE</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="right-side-bar-summary-items">
            <div class="first">
              <label class="label"> Number of Agencies:</label>
              <span class="value">{{ nyc_data.agencies}}</span>
            </div>

            <div>
              <label class=label> M/WBE Share:</label>
              <span class="value">{{ nyc_data.mwbe_share }}</span>
            </div>

            <div>
              <label class="label"> M/WBE Spending:</label>
              <span class="value">{{ nyc_data.total_mwbe}}</span>
            </div>

            <div class="last">
              <label class="label"> Non-M/WBE: </label>
              <span class="value">{{ nyc_data.total_non_mwbe}}</span>
            </div>
          </div>
        </div>

        <script>
          function getNamedFilterCriteria(filterName){
            var filterId = '';
            var filterUrlValue = '';
            var oFilterIds = document.getElementsByName(filterName);

            if(!eval(oFilterIds)){
              return filterId;
            }

            //Get the new facet selected values
            for(var i = 0; i < oFilterIds.length; i++)
            {
              if(oFilterIds[i].checked)
              {
                if(filterId.length>0){
                  filterId = filterId  +'~'+ oFilterIds[i].value;
                }else{
                  filterId = oFilterIds[i].value;
                }
              }
            }

            //Append the selected filter values to URL value
            if(filterUrlValue != ''){
              if(filterId != ''){
                filterId = filterUrlValue +'~'+ filterId;
              }
              else{
                return filterUrlValue;
              }
            }
            return filterId;
          }
          {{ jsRightContent() |raw}}
        </script>

      </div>
    </div>
  </div>
  <script type="text/javascript">
    {{ checkbook_mwbe_agency_grading_js() |raw }}
  </script>
</div>
